<%= render 'shared/error_messages', object: f.object %>

	<p><%= f.label :image %></p>
	<%= f.file_field :image %>
   <p> <%= f.label :author %></p>
    <%= f.text_field :author %>
  <p>  <%= f.label :content %></p>
    <%= f.text_area :content %>

