.row
  .span2
    = render "categories"
  .span8
    %h4 Advertisements
    %ul.thumbnails
      - @advertisements.each do |advertisement|
        %li.span4
          .thumbnail
            %p
              %strong Title:
              = advertisement.title
            = image_tag( advertisement.image.url(:thumb))
            %div= advertisement.content
            %p= link_to "svsv", user_path(advertisement.user.id)
            %br
            - if can? :destroy, advertisement
              = link_to "Delete", advertisement_path(advertisement),:method=>:delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-mini btn-danger"
            - if can? :update, advertisement
              = link_to "Edit", edit_advertisement_path(advertisement), :class=> "btn btn-mini"
            = link_to "Show", advertisement_path(advertisement), :class=> "btn btn-mini"
    = will_paginate @advertisements

