%div.container
  %h3 Advertisement
  .row
    .span9
      =link_to "Back", :back
      %p
        %strong Title:
        = @advertisement.title
      = raw RedCloth.new(html_escape(@advertisement.content)).to_html
      = image_tag @advertisement.image.url
      %br
    .span3
      -if can? :update, @advertisement
        = link_to "Edit", edit_advertisement_path, :class => "btn btn-primary"
      %br
      -if can? :destroy, @advertisement
        = link_to "Delete advertisement", advertisement_path, :method=>:delete, :class=>"btn btn-danger"
      %br
      - if can? :create, @comment
        = render "comment_form"
      %h5 Comments for this advertisement
      %div#comments
        = render "comments/comment"



